@tailwind base;
@tailwind components;
@tailwind utilities;

.height__screen {
  height: 100vh;
  height: 100svh;
}

/* .herobg {
  width: 100%;
  background-image: url("/images/herobg.svg");
  background-size: 10% 60%;
  background-position: right center;
  background-repeat: no-repeat;
} */